@import '~@/assets/styles/mixin.scss';

.weather-detail {
  position: relative;
  background-color: #fff;
  height: 742px;
  .weather-logo {
    position: absolute;
    top: 78px;
    right: 32px;
    &.icon-sun-day {
      @include icon-sun();
    }
    &.icon-sun-night {
      @include icon-sun(240px, 'night');
    }
  }
  .location {
    position: absolute;
    top: 260px;
    left: 44px;
    width: 204px;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 72px;
    color: #332821;
  }
  .temp {
    position: absolute;
    top: 404px;
    left: 40px;
    font-family: 'Alegreya Sans';
    color: #332821;
    .num {
      font-style: normal;
      font-weight: 700;
      font-size: 192px;
    }
    .unit {
      font-weight: 500;
      font-size: 48px;
      line-height: 34px;
      vertical-align: text-top;
      display: inline-block;
      margin-top: -30px;
    }
  }
  .quota {
    position: absolute;
    left: 0;
    top: 634px;
    width: 100%;
    ul {
      display: flex;
      justify-content: space-around;
    }
    .quota-item {
      display: flex;
      align-items: center;
      padding: 0 17px;
      height: 68px;
      border-radius: 40px;
      .icon {
        height: 28px;
      }
      .val {
        font-size: 28px;
        margin-left: 10px;
      }
      &.rain {
        color: #658ED9;
        background: rgba(101, 142, 217, 0.1);
        .icon {
          @include icon-rainfall-color();
        }
      }
      &.humidity {
        color: #D86191;
        background: rgba(216, 97, 145, 0.1);
        .icon {
          @include icon-humidity-color();
        }
      }
      &.wind {
        color: #5E4FC1;
        background: rgba(94, 79, 193, 0.1);
        .icon {
          @include icon-wind-color();
        }
      }
    }
  }
}
.chart-container {
  .title {
    color: #332821;
    font-size: 36px;
    margin: 0 0 10px 40px;
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 700;
  }
}